body {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  color: white;
  font-family: Koulen;
  text-transform: uppercase;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
  overflow: hidden;
  background-image: url("../img/stars.png");
}

p {
  font-size: 2rem;
  line-height: 2.5rem;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.text-wrapper {
  position: fixed;
  bottom: 7vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60rem;
  height: 11rem;
  opacity: 0;
  transition: opacity 1.5s ease-out;
  background-image: url("../img/text-wrapper.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.text-wrapper p {
  font-size: 1.5rem;
  position: relative;
  margin: 0;
  bottom: -9vh;
}
.text-wrapper.show {
  opacity: 1;
}

button {
  font-family: Koulen;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2rem;
  line-height: 2.5rem;
}
button:hover {
  cursor: pointer;
}

.btn-wrapper {
  width: 25rem;
  height: 10rem;
  margin: 0 auto;
  background-image: url("../img/btn-start.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-wrapper .btn-start {
  width: 25rem;
  height: 10rem;
  background-color: transparent;
  border: none;
}
.btn-wrapper.hide {
  opacity: 0;
}
.btn-wrapper.show {
  opacity: 1;
}
.btn-wrapper:hover {
  background-image: url("../img/btn-start-hover.png");
}

.sign-wrapper {
  height: 80vh;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-wrapper img {
  height: 80vh;
  opacity: 0;
  -webkit-animation: fadeIn 8s ease-in-out forwards 3s;
          animation: fadeIn 8s ease-in-out forwards 3s;
}
.sign-wrapper .hover-wrapper {
  height: 80vh;
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-58%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  background-color: transparent;
}
.sign-wrapper .hover-wrapper .category {
  width: inherit;
  height: 2rem;
}
.sign-wrapper .hover-wrapper .category:hover {
  cursor: pointer;
}
.sign-wrapper .hover-wrapper .category p {
  font-size: 1rem;
  opacity: 0;
}
.sign-wrapper .hover-wrapper .category.c-1 {
  height: 4rem;
}
.sign-wrapper .hover-wrapper .category.c-1 p {
  rotate: -2deg;
  text-align: left;
  padding-left: 3.5rem;
  text-shadow: #FF8A00 1px 0 10px;
}
.sign-wrapper .hover-wrapper .category.c-1:hover p {
  opacity: 1;
}
.sign-wrapper .hover-wrapper .category.c-2 {
  height: 5rem;
}
.sign-wrapper .hover-wrapper .category.c-2 p {
  rotate: 8deg;
  padding-top: 0.8rem;
  padding-right: 1.5rem;
  text-shadow: #8DF5DC 1px 0 10px;
}
.sign-wrapper .hover-wrapper .category.c-2:hover p {
  opacity: 1;
}
.sign-wrapper .hover-wrapper .category.c-3 {
  height: 6.5rem;
}
.sign-wrapper .hover-wrapper .category.c-3 p {
  rotate: 8deg;
  padding-top: 1.5rem;
  text-shadow: #0894E2 1px 0 10px;
}
.sign-wrapper .hover-wrapper .category.c-3:hover p {
  opacity: 1;
}
.sign-wrapper .hover-wrapper .category.c-4 {
  height: 6rem;
}
.sign-wrapper .hover-wrapper .category.c-4 p {
  rotate: 8deg;
  padding-top: 1rem;
  text-shadow: #F34DD9 1px 0 10px;
}
.sign-wrapper .hover-wrapper .category.c-4:hover p {
  opacity: 1;
}
.sign-wrapper .hover-wrapper .category.c-5 {
  height: 7rem;
}
.sign-wrapper .hover-wrapper .category.c-5 p {
  rotate: 9deg;
  padding-top: 1.3rem;
  text-shadow: #85FC3C 1px 0 10px;
}
.sign-wrapper .hover-wrapper .category.c-5:hover p {
  opacity: 1;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */