// Variables

$black: #000000;
$white: #ffffff;
$orange: #FF8A00;
$mint: #8DF5DC;
$blue: #0894E2;
$pink: #F34DD9;
$green: #85FC3C;
$grey: #929292;

$orange-gradient: linear-gradient(90deg, rgba(255,138,0,1) 0%, rgba(159,103,37,1) 50%, rgba(103,59,7,1) 100%); 
$mint-gradient: linear-gradient(90deg, rgba(101,255,220,1) 0%, rgba(61,139,121,1) 50%, rgba(33,58,52,1) 100%);
$blue-gradient: linear-gradient(90deg, rgba(0,165,255,1) 0%, rgba(6,107,163,1) 50%, rgba(23,63,85,1) 100%);
$pink-gradient: linear-gradient(90deg, rgba(254,102,230,1) 0%, rgba(187,80,170,1) 50%, rgba(78,15,68,1) 100%); 
$green-gradient: linear-gradient(90deg, rgba(133,252,60,1) 0%, rgba(93,154,56,1) 50%, rgba(40,65,24,1) 100%);
$grey-gradient: linear-gradient(90deg, rgba(185,185,185,1) 0%, rgba(150,150,150,1) 50%, rgba(80,79,79,1) 100%);


$bg-color: $black;

$main-font-color: $white;
$main-font-family: Koulen;

$border-white: rgba(255, 255, 255, 0.1);


// Styling

body {
  background-color: $bg-color;
  color: $main-font-color;
  text-align: center;
  color: white;
  font-family: $main-font-family;
  text-transform: uppercase;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
  overflow: hidden;
  background-image: url("../img/stars.png");
}

p {
  font-size: 2rem;
  line-height: 2.5rem;
}


// Video

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}


// Text Firefly

.text-wrapper {
  position: fixed;
  bottom: 7vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60rem;
  height: 11rem;
  opacity: 0;
  transition: opacity 1.5s ease-out;
  background-image: url("../img/text-wrapper.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  p {
    font-size: 1.5rem;
    position: relative;
    margin: 0 auto;
    bottom: -9vh;
    width: 35rem;
  }

  &.show {
    opacity: 1;
    // transition: opacity 1.5s ease-out;
  }

  &.text-wrapper-orange {
    background-image: url("../img/text-wrapper-orange.png");
  }

  &.text-wrapper-mint {
    background-image: url("../img/text-wrapper-mint.png");
  }

  &.text-wrapper-blue {
    background-image: url("../img/text-wrapper-blue.png");
  }

  &.text-wrapper-pink {
    background-image: url("../img/text-wrapper-pink.png");
  }

  &.text-wrapper-green {
    background-image: url("../img/text-wrapper-green.png");
  }
}


// Buttons

button {
  font-family: Koulen;
  text-transform: uppercase;
  color: $main-font-color;
  font-size: 2rem;
  line-height: 2.5rem;
  
  &:hover {
    cursor: pointer;
  }
}

.btn-wrapper {
  width: 25rem;
  height: 10rem;
  margin: 0 auto;
  background-image: url("../img/btn-start.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1.5s ease-out;

  .btn-start, .btn-new-try, .btn-new-game {
    width: 25rem;
    height: 10rem;
    background-color: transparent;
    border: none;
    position: relative;
    top: -0.7rem;
    left: 0.5rem;
  }

  &.hide {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }

  &:hover {
    background-image: url("../img/btn-start-hover.png");
    transition: background-image 1.5s ease; 
  }
}

.sign-wrapper {
  .sign {
    height: 80vh;
    width: auto;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    &.show {
      opacity: 1;
    }

    &.hide {
      opacity: 0;
    }

    &.sign-dark {
      height: 80vh;
      opacity: 0;
      animation: fadeIn 8s ease-in-out forwards 3s;
  }
  }

  .hover-wrapper {
    height: 80vh;
    width: 18rem;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-52%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    background-color: transparent;
    margin-top: 4rem;
  
    .category {
      width: inherit;
      opacity: 0;
  
      &.c-1 {
        height: 4rem;

        &.active {
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
  
      &.c-2 {
        height: 5.5rem;

        &.active {
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
  
      &.c-3 {
        height: 5.5rem;

        &.active {
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
  
      &.c-4 {
        height: 6rem;

        &.active {
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
  
      &.c-5 {
        height: 6rem;

        &.active {
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
  }
} 

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Hangman game */  

.guess-letters {
  position: relative;
  top: 8rem;
  font-size: 2rem;
  max-width: 80vw;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  top: 50vh;

  .item {
    &.w-70 {
      width: 70%;

      .letter-row {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
    }

    &.w-30 {
      width: 30%;
    }
  }
}

.letter {
  display: inline-block;
  margin: 0.5rem;
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  box-shadow: inset 0 0 10px $black;
}

#remaining-tries {
  font-size: 20px;
  margin-top: 10px;
  opacity: 0;
}

#hangman-image {
  max-width: 100%;
  height: auto;
  /* display: none; */
}

#new-game-button {
  // display: none;
  // margin-top: 20px;
  // animation: fadeIn 10s ease-out;
  // margin: 0 auto;
}

#try-again-text {
  display: none;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  font-size: 2rem;
  position: relative;
  bottom: 5rem;
  animation: fadeIn 10s ease-out;
}

// Orange – Leuchtkraft des Moments
.orange {
  .letter {
    background: $orange-gradient;
    // background-image: url("../img/letter-btn-orange.png");

    &:hover {
      box-shadow: 0 0 30px  $orange,
    }
  }
}

// Mint – Gluehwuermchen der Hoffnung
.mint {
  .letter {
    background: $mint-gradient;

    &:hover {
      box-shadow: 0 0 30px  $mint,
    }
  }
}

// Blue – Strahlen der Dankbarkeit
.blue {
  .letter {
    background: $blue-gradient;

    &:hover {
      box-shadow: 0 0 30px  $blue,
    }
  }
}

// Pink – Lichter des Lachens
.pink {
  .letter {
    background: $pink-gradient;

    &:hover {
      box-shadow: 0 0 30px  $pink,
    }
  }
}

// Green – Strahlen der Verbundenheit
.green {
  .letter {
    background: $green-gradient;

    &:hover {
      box-shadow: 0 0 30px  $green,
    }
  }
}

.orange, .mint, .blue, .pink, .green {
  .letter {
    &.used {
      background: $grey-gradient;
      pointer-events: none;
    }
  }
}

.message-body, .message-html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-container {
  text-align: center;
  width: 80vw;
  height: 80vh;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  .message-wrapper {
    margin: 0 auto;
    width: 60rem;
    height: 11rem;
    transition: opacity 1.5s ease-out;
    background-image: url("../img/message-wrapper.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
  
    &.hide {
      opacity: 0;
    }
    
    &.show {
      opacity: 1;
    }
  
    form {
      font-size: 2rem;
      width: 60rem;
      height: 11rem;
      margin: 0 auto;
      // position: relative;
      // top: 1.5rem;
  
      textarea {
        resize: none;
        margin: 0 auto;
        background: transparent;
        border: none;
        color: $main-font-color;
        font-family: $main-font-family;
        width: 41rem;
        height: 8rem;
        text-align: center;
        font-size: 1.5rem;
  
        &:focus {
          outline: none;
        }
        
      }
    }
  }


  .btn-wrapper {
    margin: 0 auto;
    position: unset;
    transform: unset;

    &.send-message {
      &:hover {
        cursor: not-allowed !important;
      }
    }
  }
}

#flex-container, #word {
  transition: opacity 3s ease-in-out, font-size 3s ease-in-out, display 3s ease-in-out;
}

#flex-container {
  display: flex;
}

#word {
  opacity: 1;
  font-size: 2rem;
}

#videoPlayer7, #videoPlayer9 {
  display: none;
  position: relative;
  left: 26rem;
  top: -10rem;
}

#videoPlayer8, #videoPlayer10 {
  display: none;
}